@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  box-siing: border-box;
}


.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.route-wrapper {
  position: relative;
}

/*280 */
@media screen and (min-width: 280px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    position: absolute;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 300px;
  }

  .heroImage {
    margin-left: 3rem;
    margin-top: 3rem;
  }

  .rightNav{
    font-size: 1.5rem;
    width: 1.5rem
  }
  
}

/* 320 */
@media screen and (min-width: 320px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    position: absolute;
    font-size: 2rem;
    margin-left: 1rem;
    width: 300px;
  }

  .heroImage {
    margin-left: 3rem;
    margin-top: 5.9rem;
  }
}

/* 481 */
@media screen and (min-width: 481px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    position: absolute;
    font-size: 2.3rem;
    left: 3rem;
    width: 300px;
  }

  .heroImage {
    margin-left: 9rem;
    margin-top: 5.9rem;
  }
}

/* 641 */
@media screen and (min-width: 641px) {
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .heroText {
    position: absolute;
    font-size: 3.3rem;
    left: 3rem;
    width: 350px;
  }

  .heroImage {
    margin-left: 19rem;
    margin-top: 5.9rem;
  }
}

/* 961 */
@media screen and (min-width: 961px) {
  .hero {
    position:static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .rightNav{
    font-size: 1.7rem;
    width: 1.7rem
  }

  .heroText {
    flex: 1;
    position: static;
    font-size: 3.3rem;
    width: 350px;
  }

  .heroText {
    font-size: 3.3rem;
  }

  .heroImage {
    flex: 1;
    margin-left: 0;
    margin-top: 0;
  }
}

.auth-btn{
  @apply text-[0.90rem] capitalize bg-orange px-3 py-1 font-medium text-black
}